body{
    font-family: 'Courier New', Courier, monospace;
    background-image: linear-gradient(to right, rgb(245, 135, 9), rgb(230, 163, 63));
}

.geral{
    position: absolute;
    top: 50%;
    left: 50%;
    right: 8%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 249, 225);
    padding: 15px;
    border-radius: 15px;
    width: 50%;
    color: rgb(245, 135, 9);
}

fieldset{
    border: 2px solid rgb(209, 124, 27);
}

.titulo{
    text-align: center;
    color: rgb(245, 135, 9);
}

.box{
    position: relative;
}

.inputUser{
    background: none;
    border: none;
    border-bottom: 1px solid rgb(245, 135, 9);
    outline: none;
    font-size: 15px;
    letter-spacing: 0.5px;
    color: rgb(245, 135, 9);

}

.linhaum{
    display: flex;
    justify-content: space-around;
    margin: 5px;
}
.linhadois{
    display: flex;
    justify-content: space-around;
    margin: 5px;
}

.linhatres{
    display: flex;
    justify-content: space-around;
    margin: 5px;
}

.linhaquatro{
    display: flex;
    justify-content: space-around;
    margin: 5px;
}

.linhacinco{
    display: flex;
    justify-content: space-around;
    margin: 5px;
}

.linhaseis{
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

.linhasete{
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

#submit{
    display: block;
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    background-color: rgb(255, 249, 225);
    border-color: rgb(245, 135, 9);
    color:rgb(245, 135, 9);
}